#tienda{
    z-index: 20;
    background-color: rgba(220, 20, 60, 0.212);
    height: 0px;
    width: 0px;
    position: absolute;
    border: 5px dotted;
    transition: 2s;
    animation: tienda 1s 1s forwards;
    cursor: url(./../../assets/cursores/cursor.cur),auto ;
    overflow: hidden;
    
}
#tiendaName{
    display: flex;
    flex-direction: row;
    gap: 100px; 
    font-size: larger;
    padding-bottom: .9%;
    padding-top: .9%;
    border-bottom: 3px solid;
    visibility: hidden;
    animation: tiendaB 1s forwards 2s ;
    position: relative;
}
#tiendaName::first-letter{
    font-size: xx-large;
}
#tiendaName p{
    font-family: 'Great Vibes', cursive;
    font-size: 10vh;
    justify-content: center;
}
#tiendaName p::first-letter{
    font-size: 11vh;
    color: red;
}
#tiendaName :nth-child(2){
    right: 0;
    top: 0;
    position: absolute;
}
#salirTienda{
    height: 100px;
    width: 200px;
    font-size: 10vh;
    cursor: url(./../../assets/cursores/cursorBang.cur),auto ;
    color: red;
    background: none;
    border: none;
}
#itemStore{
    display: grid;
    grid-template-columns: repeat(4, .1fr);
    grid-template-rows: repeat(4, .1fr); 
    gap: 2px;
    padding-top: 1%;
}
#itemStore > *{
    border: 1px solid black;
    animation: tiendaB 1s forwards 2s ;
    visibility: hidden;
}
.valor{
    background-color: black;
    color: white;
}
#itemStore img{
    width: 100px;
    justify-content: center;
    align-self: center;
}
#itemStore button:hover {
   background-color: grey;
}
#itemStore button{
    cursor: url(./../../assets/cursores/cursorBang.cur),auto ;
    background: none;
    border: none;
    display: flex;
    width:  150px;
    height: 100px;
    border: 1px solid black;
    justify-content: center;
    animation: tiendaB 1s forwards 2s ;
    visibility: hidden;
}
.displayNameItemTienda{
    line-break: auto;
}
.tiendaItemContenedor{
    width: 1fr;
}
@keyframes tienda {from {}to {    
    width: 1300px; 
    height: 450px;
}}
@keyframes tiendaB {from {}to {visibility: visible;}}


#descripcionItem{
    position: fixed;
    top: 0;
    z-index: 21;
    height: 112px ;
    width: 1000px; 
    left: 0;
    position: absolute;
    background-color: black;
    color: white;
    transition: 2s;
    animation: tiendaDescripcion 1s 1 normal ;
}
@keyframes tiendaDescripcion {from {
    transform: rotateY(180deg);opacity: 20%;
}to {
    transform: rotateY(0deg);opacity: 100%;
}}