@media screen and (min-width: 2560px) and (min-height: 1440px) {
    #logo{
        width: 150vh; 
        height: 50vh; 
        background-color: rgba(0, 153, 255, 0.445); 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #start{
        background-size: cover;
    }
    #gameTitle button{
        height: 15vh;
        width: 70vh;
    }
    #configurationH button{
        height: 20vh;
        width: 50vh;
        font-size:6vh;
        border: 15px;
        border-style: dotted;
    }
    #configurationH button:hover{
      height: 20vh;
      width: 50vh;
      font-size:6vh;
      border: 15px;
      border-style: dashed;
  }
    #replace div{
        height: 50%;
        width: 80%;
        font-size: 70px;
    }
    #textoConfiguration{
        width: 50vh;
        font-size: 4vh;
    }
    #health{
        font-size: 4vh;
    }
    #accion div{
        font-size:2.5vh ;
    }
    #finalRonda{
        scale: 2;
    }
    #tienda{
        scale:2.5;
    }
    #cargando  {
        scale: 2;
        transform: translate(-1vh);
    }
    #municionRestante{
        scale: 3;
        transform: translate(2vh, -1vh);
    }
    @keyframes enemyMoved {
        from {z-index: 5;}
        to { scale: 12;  
          transform: translateY(2px);
          z-index: 10;}
      }
      #dead{
        overflow: hidden;
      }
      #deadTitle div{
        scale: 3;
        transform: translate(0vh, 13vh);
      }
      @keyframes deadTitle {from {scale: 3;}to {    transform: translate(0% ,20%);z-index: 10; scale: 3;}}
      #ranking{
        scale: 1.5;
        top: -20%;
      }
      #top {
        margin-top: 4%;
        font-size: 2vh;
      }
      #reverseButtonB{
        display: flex;
        right: 0%;
        scale: 2;
      }
      .top10 {
        gap:2vh;
      }
      .column {
        column-gap: 2vh;
      }
      .primero::before{
        content: ""; 
        display: flex;
        flex-direction: row;
        width: 200px;
        height: 200px; 
        background: url(./../../assets/dead/trophy.png) no-repeat;
        background-size: contain; 
        margin-right: 3%;
        transform: rotate(15deg);
        animation: trophy 2s infinite alternate;
      }
      @keyframes trophy {from {transform: rotate(15deg);}to { transform: rotate(-15deg);}}
      .primero{
        font-size: 3vh;
      }
      #puntuacion{
        font-size: 3vh;
        margin-bottom: 3%;
      }
      #formNombre{
        scale: 2;
        transform: translate(6vh);
      }
    }
